@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde-escuro: #008D36;
    --verde-claro: #8FBF2A;
    --laranja-escuro: #E84E1B;
    --laranja-claro: #FBB040;
    --preto: #000;
    --branco: #fff;
    --cinza-claro: #d9d9d986;
}

h2,
h3 {
    font-family: "Montserrat", serif;
    font-weight: bold !important;
    background: linear-gradient(to bottom, #E84E1B 0%, #FBB040 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

h4,
h5,
h6 {
    font-family: "Montserrat", serif;
    font-weight: bold !important;
}

button {
    cursor: pointer;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: "Poppins", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    min-height: 100vh;
}

.whatsApp {
    background-color: #25D366;
    color: #ffffff;
    border: transparent;
    border-radius: 100%;
    font-size: 2em;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 10000;
}

.whatsApp:hover {
    transition: 500ms;
    transform: rotate(360deg);
    border: 2px solid #25D366;
    border-radius: 12px;
    color: #25D366;
    background-color: #ffffff;
}

.whatsApp-link {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsApp:hover .whatsApp-link {
    color: #25D366;
}

.voltarTopo {
    display: none;
    border: 2px solid var(--laranja-escuro);
    background-color: var(--laranja-escuro);
    color: var(--branco);
    border-radius: 100%;
    font-size: 1.5em;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 80px;
    right: 15px;
    z-index: 10000;
}

.voltarTopo:hover {
    transition: 500ms;
    transform: rotate(360deg);
    border-radius: 12px;
    background-color: var(--branco);
    border: 2px solid var(--laranja-escuro);
}

.voltarTopo-link {
    text-decoration: none;
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
}

.voltarTopo:hover .voltarTopo-link {
    color: var(--laranja-escuro);
}

.voltarTopo.scrolled {
    display: block;
}

section {
    min-height: 100vh;
    scroll-margin-top: 100px;
}

/* HOME */
/* HOME */
/* HOME */

#home {
    background-image: url(../assets/home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 1em 2em;
}

.home__div {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    gap: 1em;
}

.home__titulo {
    color: var(--branco) !important;
    font-size: 3em;
    font-weight: bold;
    width: 80%;
}

.home__titulo span {
    color: var(--laranja-escuro);
}

.home__p {
    color: var(--branco);
    width: 70%;
    font-size: 1.5em;
}

.home__btn {
    background-color: var(--laranja-escuro);
    padding: 1em;
    border-radius: 8px;
    border: 2px solid var(--laranja-escuro);
    width: 30%;
}

.home__btn-link {
    text-decoration: none;
    color: var(--branco);
    font-weight: bold;
    font-size: 1em;
}

.home__btn:hover,
.home__btn:focus {
    transition: 1s;
    transform: scale(1.01);
    background-color: transparent;
    color: var(--laranja-escuro);
    border: 2px solid var(--laranja-escuro);
}

.home__cta-baixo {
    border: 2px solid var(--laranja-escuro);
    border-radius: 8px;
    color: var(--branco);
    padding: 0.5em;
    gap: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    animation: mover 2s infinite ease-in-out;
    text-decoration: none;
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px); 
    }
    100% {
        transform: translateY(0); 
    }
}

/* SOBRE */
/* SOBRE */
/* SOBRE */
#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-7deg, #E84E1B 56%, #008D36 56%);
}

.sobre__titulo {
    margin: 2em 0;
    background: var(--branco);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.sobre__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2em;
    gap: 4em;
}

.sobre__container-cima {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2em;
}

.sobre__img {
    width: 30%;
}

.sobre__div-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.sobre__paragrafos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre__p1, .sobre__p2 {
    padding: 1em;
    border-radius: 12px;
    box-shadow: 1px 5px 15px 1px rgba(0, 0, 0, 0.33);
    color: var(--branco);
}

.sobre__p1{
    background-color: var(--verde-escuro);
}

.sobre__p2{
    background-color: var(--laranja-escuro);
}

.sobre__div-botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
}

.sobre1__btn {
    box-shadow: 1px 5px 15px 1px rgba(0, 0, 0, 0.33);
    background-color: var(--laranja-escuro);
    padding: 1em;
    border-radius: 8px;
    border: 2px solid var(--laranja-escuro);
    width: 100%;
}

.sobre1__btn-link {
    text-decoration: none;
    color: var(--branco);
    font-weight: bold;
    font-size: 1em;
}

.sobre1__btn:hover,
.sobre1__btn:focus {
    transition: 1s;
    transform: scale(1.01);
    background-color: #d24212;
}

.sobre2__btn {
    box-shadow: 1px 5px 15px 1px rgba(0, 0, 0, 0.33);
    background-color: var(--laranja-escuro);
    padding: 1em;
    border-radius: 8px;
    border: 2px solid var(--branco);
    width: 100%;
}

.sobre2__btn-link {
    text-decoration: none;
    color: var(--branco);
    font-weight: bold;
    font-size: 1em;
}

.sobre2__btn:hover,
.sobre2__btn:focus {
    transition: 1s;
    transform: scale(1.01);
    background-color: #d24212;
}

.sobre__container h3{
    background: var(--branco);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.sobre__div-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 80%;
}

.sobre__card {
    background-color: #f3f3f3;
    padding: 1em;
    border: 3px solid var(--branco);
    border-radius: 12px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.sobre__card img{
    width: 90%;
}

.sobre__card h4 {
    font-weight: 600 !important;
    color: var(--preto) !important;
    margin-bottom: 0 !important;
    text-align: center;
    width: 80%;
    border-bottom: 2px solid var(--laranja-escuro);
}

.sobre__card-infos {
    display: flex;
    flex-direction: column;
    align-self: left;
    gap: 1em;
}

.sobre__card-info {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.sobre__card-info i {
    color: var(--laranja-escuro);
}

.sobre__card-info p {
    margin: 0;
}

.sobre__dados {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    margin-top: 3em;
}

.sobre__dado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.sobre__dado i {
    font-size: 3em;
    background: linear-gradient(14deg, #ffffff 0%, #dddddd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.sobre__dado p {
    font-weight: bold;
    flex-wrap: wrap;
}

.barrinha {
    width: 2px;
    background-color: var(--branco);
    height: 100px;
}

/* PRODUTOS */
/* PRODUTOS */
/* PRODUTOS */
#produtos {
    display: flex;
    align-items: left;
    flex-direction: column;
    background: linear-gradient(to bottom, #E84E1B 0%, #FBB040 100%);
}

.produtos__titulo {
    margin: 2em 0;
    background: var(--branco);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

#prTotal {
    width: 100%;
    min-height: 200px;
    padding: 2em 4em;
    display: flex;
    align-items: center;
}

.produtos__branco {
    background-color: var(--branco);
}

.produtos__div {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 1em;
    color: var(--branco);
    width: 400px;
}

.produtos__div h3 {
    background: var(--branco);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.produto__btn {
    background-color: transparent;
    padding: 1em;
    border-radius: 8px;
    border: 2px solid var(--branco);
    width: 50%;
}

.produto__btn-link {
    text-decoration: none;
    color: var(--branco);
    font-weight: bold;
    font-size: 1em;
}

.produto__btn:hover,
.produto__btn:focus {
    transition: 1s;
    transform: scale(1.01);
    background-color: #ffffff2d;
    color: var(--branco);
}

/* LOGISTICA */
/* LOGISTICA */
/* LOGISTICA */
.logistica__titulo {
    text-align: center;
    margin: 2em 0;
}

.logistica__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
}

.logistica__cima {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
}

.logistica__p {
    border: 2px solid var(--laranja-escuro);
    border-radius: 12px;
    padding: 1em;
    width: 60%;
    text-align: center;
}

.logistica__img {
    width: 50%;
    height: auto;
}

.logistica__baixo {
    background-color: var(--laranja-escuro);
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    padding: 1em 2em;
    gap: 1em;
}

.logistica__baixo-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: start;
    width: 30%;
}

.logistica__baixo-item h3 {
    background: var(--preto);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat", serif;
    font-size: 1.3em;
}

.logistica__baixo-item p {
    color: var(--branco);
}

/* QUALIDADE */
/* QUALIDADE */
/* QUALIDADE */
#qualidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qualidade__titulo {
    margin: 2em 0;
}

.qualidade__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 80%;
}

.qualidade__p {
    border: 2px solid var(--laranja-escuro);
    border-radius: 12px;
    padding: 1em;
    text-align: center;
}

.qualidade__selos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.qualidade__selo {
    text-decoration: none;
    text-align: center;
}

.qualidade__selo img {
    width: 100%;
    border: 2px solid var(--laranja-escuro);
    border-radius: 6px;
    padding: 0.5em;
}

.qualidade__selo img:hover,
.qualidade__selo img:focus {
    transition: 1s;
    transform: scale(1.01);
    border: 2px solid var(--laranja-claro);
    cursor: pointer;
    background-color: var(--cinza-claro);
}

/* CONTATO */
/* CONTATO */
/* CONTATO */
#contato {
    background-image: url(../assets/localizacao.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contato__titulo {
    margin: 2em 0;
}

.contato__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    gap: 2em;
}

#contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-radius: 12px;
    background-color: var(--laranja-escuro);
    height: 100%;
    gap: 1em;
}

#contactForm h3 {
    text-align: center;
    background: var(--branco);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

#contactForm div {
    display: flex;
    flex-direction: column;
}

#contactForm button {
    background-color: var(--branco);
    padding: 1em;
    border-radius: 8px;
    border: 2px solid var(--laranja-escuro);
    width: 70%;
    text-decoration: none;
    color: var(--laranja-escuro);
    font-weight: bold;
    font-size: 1em;
}

#message, #name, #email{
    width: 300px;
}

.contato__banner {
    background-color: var(--laranja-escuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 80%;
}

.contato__banner img {
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0 0;
}

.contato__infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 0.5em;
}

.contato__infos_cima {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.contato__info {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--branco);
    gap: 0.1em;
}

.contato__info p {
    margin: 0;
}

.contato__infos-baixo {
    background-color: #c13c10;
    padding: 0.3em;
    border-radius: 6px;
    color: var(--branco);
}

@media (max-width: 920px) {
    /* HOME */
    /* HOME */
    /* HOME */
    .home__titulo{
        font-size: 2.3em;
    }

    /* SOBRE */
    /* SOBRE */
    /* SOBRE */
    .sobre__container-cima {
        flex-direction: column;
    }

    .sobre__div-cards{
        flex-direction: column;
    }

    .sobre__img{
        width: 60%;
    }

    .sobre__div-texto {
        width: 60%;
    }

    .sobre__dados {
        flex-direction: column;
    }

    .barrinha {
        height: 2px;
        width: 200px;
    }

    /* PRODUTOS */
    /* PRODUTOS */
    /* PRODUTOS */

    /* LOGISTICA */
    /* LOGISTICA */
    /* LOGISTICA */

    /* QUALIDADE */
    /* QUALIDADE */
    /* QUALIDADE */

    /* CONTATO */
    /* CONTATO */
    /* CONTATO */
    .contato__container {
        flex-direction: column;
        padding: 2em;
    }

    #contactForm{
        width: 50%;
    }

    #message, #name, #email{
        width: 280px;
    }

    .contato__banner{
        width: 70%;
    }

    .contato__info{
        font-size: 0.8em;
    }

    .contato__infos-baixo{
        text-align: center;
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {

    /* HOME */
    /* HOME */
    /* HOME */
    #home {
        align-items: center;
    }

    .home__div{
        align-items: center;
        padding: 0 2em;
    }

    .home__titulo {
        font-size: 2em;
        width: 80%;
    }

    .home__p {
        width: 80%;
        font-size: 1em;
    }

    .home__btn {
        width: 80%;
    }

    /* SOBRE */
    /* SOBRE */
    /* SOBRE */
    .sobre__img {
        width: 60%;
    }

    .sobre__div-texto {
        width: 60%;
    }

    .sobre__div-botoes {
        flex-direction: column;
    }

    .sobre__card {
        width: 60%;
        padding: 0.5em;
    }

    .sobre__card-cargo {
        width: 50%;
    }

    .sobre__card-cargo img {
        width: 100%;
    }

    .sobre__card-cargo h4 {
        font-size: 1em;
    }

    /* PRODUTOS */
    /* PRODUTOS */
    /* PRODUTOS */

    /* LOGISTICA */
    /* LOGISTICA */
    /* LOGISTICA */
    .logistica__img {
        width: 60%;
        height: auto;
    }

    .logistica__baixo {
        flex-direction: column;
        align-items: center;
    }

    .logistica__baixo-item {
        width: 70%;
    }

    /* QUALIDADE */
    /* QUALIDADE */
    /* QUALIDADE */
    .qualidade__container {
        width: 60%;
    }

    .qualidade__selos {
        flex-direction: column;
    }

    .qualidade__selo img {
        width: 250px;
        height: 250px;
    }

    /* CONTATO */
    /* CONTATO */
    /* CONTATO */
    #message, #name, #email{
        width: 200px;
    }

    #contactForm{
        width: 60%;
    }

    .contato__banner{
        width: 60%;
    }

    .contato__infos_cima{
        flex-direction: column;
    }

    .contato__info{
        font-size: 1em;
    }
}